.garden{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 400px;
    left: 80%;
    border-bottom: 10px solid brown;
    border-top: 10px solid black;
}

.garden img{
width: 50px;
height: 70px;
}


.water-droplet {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue; /* Adjust color as needed */
    border-radius: 50%;
    animation: fall 2s linear infinite;
    display: none; /* Initially hidden */
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-100%);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
  }
  
  .falling {
    animation-play-state: running;
    display: block;
  }