.window-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 380px;
    left: 470px;
}

.window-container img{
    height: 280px;
    width: 410px;
}